<div id="leaderboard">
  <div id="leaders">
    <% heroes.each do |hero| %>
      <a href="<%= user_path(hero) %>" class="leader">
        <%= image_tag hero.image.gsub('type=square','width=80&height=80'), :alt => hero.name %>
      </a>
    <% end %>
  </div>
</div>