<div id="leaderboard">
  <div id="leaders">
    <div class="leader">
      <% if !hero1.value.blank? %>
      <%= image_tag hero1.value, :alt => "Held 1" %>
      <% end %>
    </div>
    <div class="leader">
      <% if !hero2.value.blank? %>
      <%= image_tag hero2.value, :alt => "Held 2" %>
      <% end %>
    </div>
    <div class="leader">
      <% if !hero3.value.blank? %>
      <%= image_tag hero3.value, :alt => "Held 3" %>
      <% end %>
    </div>
  </div>
  <div id="leaderboard-description">
    <%= raw herotext1.value %>
  </div>
</div>
