<div id="users">
    <%= render :partial => "leaderboard", :locals => {:heroes => @heroes} %>
  </div>

  <h2>Unsere Kandidaten für den nächsten Held des Monats</h2>

  <%= render :partial => "user", :collection => @users %>

</div>