<div id="home">

  <div id="intro">

    <div id="panel">
      Hast Du tolle <b>Geschenkideen</b><br />
      und möchtest sie</br />
      mit uns teilen?
      <br /><br />
      Dann werde auch ein
      <br />
      <b>GeschenkeHeld :)</b>
      <br /><br />
      <%= link_to "Einfach anmelden!", nil, :class => "btn btn-primary btn-large cta-signup" %>
    </div>

    <div id="user-pictures">
      <% @users.each_with_index do |user, index| %>
        <div class="user"><%= image_tag user.image %></div>
      <% end %>
    </div>

  </div>


</div>