<div id="home">

  <div id="signup">
    Hast Du tolle <b>Geschenkideen</b><br />
    und möchtest sie</br />
    mit uns teilen?
    <br /><br />
    Dann werde auch ein
    <br />
    <b>GeschenkeHeld</b>
    <br /><br />
    <a class="btn btn-primary btn-large">Mit Facebook anmelden</a>
  </div>

</div>