#home {

  #intro {
    height: 460px;
    background: url("intro.jpg");
    position: relative;
    border-bottom: 1px solid $border-color;

    #user-pictures {
      position: absolute;
      top: 155px;
      left: 115px;
      width: 480px;
      height: 220px;

      .user {
        border: 3px solid #fff;
        border-radius: 6px;
        float: left;
        margin-right: 24px;
        margin-bottom: 24px;
        width: 56px;
        height: 56px;
        background: #fff url("/loader2.gif");
        background-position: center center;
        background-repeat: no-repeat;
        @include box-shadow(0 1px 3px rgba(0,0,0,0.5));

        img {
          border-radius: 6px;
          width: 50px;
          height: 50px;
        }
      }
    }
  }

  .product {
    width: 172px !important;

    &:nth-child(3n+3) {
      margin-right: 20px;
    }

    &:nth-child(5n+5) {
      margin-right: 0;
    }
  }

  #panel {
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    width: 300px;
    padding: 50px 25px 30px 25px;
    text-align: center;
    font-size: 24px;
    line-height: 34px;
    @include box-shadow(0 1px 6px rgba(0,0,0,0.4));
    color: #2c313f;

    &:after {
      content: url('bandana.png');
      position: absolute;
      top: -6px;
      right: -6px;
    }

    b {
      font-weight: 600;
    }

    a {
      height: 50px;
      line-height: 50px;
      border-radius: 6px;
      display: block;
      font-weight: 600;
    }
  }

  #imprint {
    padding: 40px;

    p {
      margin-top: 20px;
    }

    h3 {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
}

#cookies-bar {
  border: 2px solid #000;
  border-bottom: none;
  background-color: #e6e6e6;

  a {
    color: #fff;
    background-color: #0b610b;
  }
}

///* Collapsed version */
//@media (max-width: 767px) {
//  .right-part {
//    text-align: center;
//    padding-bottom: 5px;
//
//    a {
//      width: 80%;
//    }
//  }
//}
//
///* Large version */
//@media (min-width: 768px) {
//  #cookies-bar {
//    width: 80%;
//    max-width: 950px;
//    margin: 0 auto;
//    padding: 5px;
//
//    .left-part {
//      width: 90%;
//      float: left;
//    }
//
//    .right-part {
//      width: 10%;
//      float: right;
//      padding-top: 2px;
//      text-align: right;
//    }
//  }
//}