#filter {
  line-height: 30px;
  height: 50px;
  border-bottom: 1px solid $border-color;
  margin-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;

  select {
    float: left;
    width: 300px;
    margin-right: 20px;
  }
}

#no-products {
  padding: 40px 0 20px 0;
  text-align: center;
  color: #808080;
}

#product-edit {
  border-bottom: 1px solid $border-color;
  padding-bottom: 20px;
  margin-bottom: 30px;

  i {
    margin-right: 5px;
  }
}

#product-delete {
  border-top: 1px solid $border-color;
  padding: 20px;
  background: #fff;
  width: 620px;
  margin-top: 20px;
  @include box-shadow(0 1px 5px 0 rgba(0,0,0,0.2));
}

#product-info {
  line-height: 40px;
  padding: 0 0 20px 0;
  height: 60px;
  border-bottom: 1px solid $border-color;
  font-size: 16px;
  color: #808080;
  font-weight: 300;

  #cta {
    float: right;
    font-size: 15px;
    font-weight: 700;
    background: rgba(0,0,0,0.025);
    border: 1px solid $border-color;
    line-height: 40px;
    display: block;
    text-align: center;
    width: 300px;
    border-radius: 30px;
    margin-left: 40px;
  }
}

#product-sidebar {
  margin-top: 20px;
  width: 300px;
  float: right;
  border-radius: 5px;
  text-align: center;

  h3 {
    font-size: 16px;
    padding: 20px 0 10px 0;
  }

  #product-image {
    background: #fff;
    width: 300px;
    @include box-shadow(0 1px 5px 0 rgba(0,0,0,0.2));
    
    img {
      max-width: 300px;
      height: auto;
      border-radius: 5px;
    }
  }  

  #product-socials {
    a {
      display: block;
      float: left;
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 40px;
      margin-right: 10px;
    }
  }
}

#product-comments {
  width: 620px;

  .comment {
    margin-top: 20px;
    padding: 0;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 5px;
    @include box-shadow(0 1px 5px 0 rgba(0,0,0,0.2));

    .comment-user {
      border-bottom: 1px solid $border-color;
      height: 70px;
      padding: 10px 0;
      line-height: 20px;

      img {
        float: left;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        margin-right: 20px;
        margin-left: 10px;
      }

      .comment-user-name {
        display: inline-block;
        margin-top: 5px;
        font-size: 20px;
        font-weight: 500;
      }
    }

    .comment-content {
      font-size: 20px;
      line-height: 30px;
      font-weight: 300;
      padding: 30px 80px 30px 80px;
    }  

    .comment-actions {
      border-top: 1px solid $border-color;
      padding: 10px 30px 10px 80px;

      input {
        border: 0;
      }
    }
  }

  #new-product-comment {
    .comment {
      padding: 0;

      .comment-content {
        padding: 0;
        margin: 0;
      }

      .comment-actions {
        
      }
    }
    textarea {
      border: 0;
      margin: 0;
      padding: 30px 80px 30px 80px;
      font-size: 20px;
      line-height: 30px;
      font-weight: 300;
      width: 100%;
      height: 100%;
      resize: none;

      vertical-align: top;
      -webkit-transition: height 0.2s;
      -moz-transition: height 0.2s;
      transition: height 0.2s;
    }
  }
}

#products {
  background: #fafafa;
  padding: 30px 40px 40px 40px;  
  border-bottom: 1px solid $border-color;
  overflow: hidden;
  clear: both;
  position: relative;
  @include box-shadow(inset 0 1px 2px rgba(0,0,0,0.25));

  #errors {
    width: 620px;
  }

  h2 {
    img {
      border-radius: 10px;
      margin-right: 5px;
    }
  }

  #description {
    display: none;
    padding: 20px 0;
    font-size: 16px;
    line-height: 26px;
    border-bottom: 1px solid $border-color;
  }

  #more-products {
    font-size: 15px;
    font-weight: 700;
    background: rgba(0,0,0,0.025);
    border: 1px solid $border-color;
    line-height: 50px;
    display: block;
    text-align: center;
    width: 300px;
    margin: 20px auto 0 auto;
    border-radius: 30px;

    .loading-text {
      display: none;
    }

    &.loading, &.loading:hover {
      opacity: 0.5;
      background: #eee;
      color: #808080;
      border: 1px solid #eee;
      text-shadow: none;
      cursor: default;

      .loading-text {
        display: inline;
      }

      .normal-text {
        display: none;
      }
    }

    &:hover {
      background: $green;
      color: #fff;
      border: 1px solid $green;
      text-decoration: none;
      text-shadow: 0 -1px rgba(0,0,0,0.5);
    }
  }

  #finish {
    position: absolute;
    top: 122px;
    right: 20px;

    .product { position: relative; float: none; }

    #send {
      position: relative;
      bottom: 0;
      margin-top: 12px;
      width: 300px;
      height: 50px;
      background: $green;
      color: #fff;
      border-radius: 5px;
      @include box-shadow(0 1px 5px 0 rgba(0,0,0,0.2));

      input {
        background: $green;
        color: #fff;
        border: 0;
        text-shadow: 0 -1px rgba(0,0,0,0.5);
        font-size: 20px;
        font-weight: 500;
        line-height: 40px;
        width: 100%;
        height: 100%;
        border-radius: 5px;
      }

      &.arrow_box {
        background: $green;
      }
      &.arrow_box:after {
        bottom: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      &.arrow_box:after {
        border-color: rgba(218, 21, 95, 0);
        border-bottom-color: $green;
        border-width: 9px;
        left: 50%;
        margin-left: -9px;
      }
    }
  }

  .step {
    background: #ffffff;
    border-radius: 4px;
    padding: 30px 10px;
    margin: 20px 0;
    @include box-shadow(0 1px 5px 0 rgba(0,0,0,0.2));
    line-height: 30px;
    width: 620px;

    .loading {
      display: none;
      padding-left: 10px;
      overflow: hidden;
    }

    &.disabled {
      color: #bfbfbf;

      .loading {
        display: block;
      }

      .content {
        height: 0;
      }
    }

    h3 {
      line-height: 30px;  
      margin-bottom: 10px;
      margin-left: 10px;    
    }

    .content {
      overflow: hidden;
      height: auto;

      &#url input {
        width: 420px;
        float: left;
        margin-right: 20px;
        margin-left: 10px;
      }

      &#images {
        .image {
          border: 2px solid $border-color;
          margin: 5px;
          float: left;
          width: 190px;
          height: 190px;
          line-height: 188px;
          text-align: center;
          cursor: pointer;
  
          &.active {
            border: 2px solid $green;
          }
  
          img {
            max-width: 168px;
            max-height: 168px;
          }        
        }
      }

      &#info {

        .field {
          margin: 10px;
          width: 200px;
          float: left;

          &.wide {
            width: 270px;
          }
        }

        label {
          font-weight: 600;
          font-size: 14px;
          line-height: 30px;
        }

        textarea {
          width: 270px;
          resize: none;
        }

        #categories {
          margin-top: 10px;
          clear: both;

          h4 {
            font-weight: 300;
            font-size: 15px;
            margin: 0 20px 0 10px;
            padding: 20px 0 10px 0;
            border-top: 1px solid $border-color;
          }

          .category {
            padding-top: 10px;
            clear: both;
          }

          .checkbox {
            float: left;
            width: 180px;
            padding: 0;
            margin: 0px 10px 0 10px;
            line-height: 30px;
            color: $green;

            label:hover {
              text-decoration: underline;
              cursor: pointer;
            }

            input {
              margin: 0 10px 0 0;
            }
          }
        }
      }
    }
  }
}

#page .product {
  width: 300px;
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
  background: #fff;
  border-radius: 5px;
  @include box-shadow(0 1px 4px 0 rgba(0,0,0,0.25));

  &:nth-child(3n+3) {
    margin-right: 0;
  }

  .product-image {
    text-align: center;

    a {
      width: 300px;
      height: auto;
      display: block;
      overflow: hidden;
    }

    img {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      max-width: 100%;
      height: auto;
      overflow: hidden;
    }    
  }

  .product-description {
    padding: 25px;
    border-top: 1px solid $border-color;    

    a {
      font-size: 20px;
      font-weight: 500;
    }

    p {
      padding: 25px 0 0 0;
      color: #666;
    }
  }

  .product-actions {
    padding: 0 25px 25px 25px;
    border-bottom: 1px solid $border-color;

    a {
      margin-top: -5px;
      border-radius: 20px;
      border: 1px solid $border-color;
      padding: 10px 20px;    
      display: inline-block;
      font-size: 15px;
      font-weight: 300;

      i {
        float: left;
        margin-right: 10px;
      }  

      b {
        font-weight: 600;
      }

      &:hover {
        color: #fff;
        background: $green;
        text-shadow: 0 -1px rgba(0,0,0,0.25);
        border: 1px solid $green;
        text-decoration: none;
      }
    }
  }

  .product-user-list {
    line-height: 15px;
    height: 60px;
    width: 300px;
    @include box-shadow(inset 0 0 20px 0 rgba(0,0,0,0.06));
    position: relative;
    overflow: hidden;

    .product-list {
      border-left: 1px solid $border-color;
      line-height: 60px;
      text-align: center;
      width: 660px;
      position: absolute;
      top: 0;
      left: 240px;
      font-size: 18px;
      @include box-shadow(inset 0 0 20px 0 rgba(0,0,0,0.06));

      .product-list-add {
        position: absolute;
        left: 60px;
        right: 300px;
        top: 0;
        bottom: 0;
        background: #fff;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;

        select {
          width: 200px;
          display: inline;
          margin: 0;
          padding: 0;
        }

        button {
          width: 45px;
          display: inline;
          border-radius: 3px;
        }
      }

      .product-list-added {
        position: absolute;
        left: 360px;
        right: 0;
        top: 0;
        bottom: 0;
        font-size: 14px;
        background: #fff;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      a {
        display: block;
        text-align: center;
        font-weight: 700;
        width: 60px;
        height: 60px;

        i {
          margin-right: 5px;
        }

        &:hover {
          background: $green;
          color: #fff;
          text-decoration: none;
          border-bottom-right-radius: 5px;
        }
      }
    }

    img {
      border-radius: 5px;
      float: left;
      width: 30px;
      height: 30px;
      margin-right: 15px; 
      margin-top: 15px;
      margin-left: 25px;
    }

    .product-user-name {
      display: inline-block;
      font-weight: 700;
      margin-top: 15px;
      font-size: 15px;
    }

    .product-user-rank {
      font-size: 12px;
      padding-top: 2px;
      color: #808080;
    }
  }
}