<% if @products.length > 0 %>
<a href="?seite=2" id="more-products">
  <span class="loading-text"><%= image_tag "loader.gif", :alt => "Lade weitere Geschenkideen" %></span>
  <span class="normal-text">Weitere Geschenkideen zeigen</span>
</a>
<% else %>
<div id="no-products">Keine weiteren Geschenkideen</div>
<% end %>