<div id="products">

  <h2>
    <%= @title %>
  </h2>

  <%= render "filter" %>

  <div id="products-container">
    <%= render :partial => "product", :collection => @products %>
  </div>

  <%= render "pagination" %>

</div>