<div id="cookies-bar" class="cookies-container">
  <div class="cookies-content">
    <div class="cookies-message">
      <p>
        We are using cookies to give you the best experience on our site. By continuing to use our site, you are agreeing to our use of cookies.
      </p>
    </div>

    <div class="cookies-button-container">
      <%= link_to 'x', '#', class: 'cookies-button' %>
    </div>
  </div>
</div>