<div id="cookies-bar" class="cookies-container">
  <div class="cookies-content">
    <div class="cookies-message">
      <p><%= @coocie %></p>
    </div>

    <div class="cookies-button-container">
      <%= link_to 'x', '#', class: 'cookies-button' %>
    </div>
  </div>
</div>